body {
  font-family:'proxima-nova', 'Helvetica', 'Avenir', 'Arial', 'sans-serif';
  font-size: 16px;
  color: #333333;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased; 
}

a {
  color: #ff007f;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

div.date span {
  color: #DAD4D4;
}

footer {
  color: #DAD4D4;
}

nav.navbar {
  background: url("/images/white_wave.png");
}

.navbar ul.nav > li > a {
  color: #ff007f;
  font-size: 18px;
}

p img {
  box-shadow: 3px 3px 1px #ccc;
  -webkit-box-shadow: 3px 3px 1px #ccc;
  -moz-box-shadow: 3px 3px 1px #ccc;
  margin: 20px 0 20px 0;
}

h1,h2,h3,h4 {
  font-family:'proxima-nova', 'Helvetica', 'Avenir', 'Arial', 'sans-serif';
  font-weight: 200;
}

h1 a {
  font-size: 50px;
}

h1 {
  font-size: 50px;
}

h2 {
  display: block;
  font-size: 40px;
  line-height: 1em;
  font-weight: 100;
  color: #000;
  margin-bottom: 30px;
}

h2 a:hover {
  text-decoration: none;
  color: #DAD;
}

h2 a {
  text-shadow: 1px 1px 1px #7A7377
 }

 li.post-list {
   list-style-type: none;
   margin-bottom: 5px;
 }

 li.post-list a:hover {
   text-decoration: none;
   color: #DAD;
 }

 span.date {
   color: #ccc;
 }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

.page-header {
  border-bottom: 1pxpx solid #eeeeee;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.navbar-inner {
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ffffff, endColorstr='#'ffffff, GradientType=0);
}

.navbar-default .navbar-brand {
  padding: 8px 20px 12px;
  font-size: 30px;
  font-weight:200;
  color: #ff007f;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #ffffff;
  border-right: 1px solid #ffffff;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 15px;
  color: #666666;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #424242;
}

/* fix for pygments code highlighting */
code{color:rgba(0, 0, 0, 0.75);padding:1px 3px;}
